<main class="menu_container" *ngIf="productList$ | async as products">
  <h2 class="text-bold" i18n="@@restaurant-profile-menu-a">Menu</h2>
  <app-inline-carousel *ngIf="categoryList" [itemList]="categoryList" [disabledOption]="false" [optionType]="'category'"
    (selectedItemEmitter)="selectedItem($event)"></app-inline-carousel>
  <h5 i18n="@@restaurant-profile-menu-b">Availability</h5>
  <app-inline-carousel *ngIf="subCategoryList" [itemList]="subCategoryList" [disabledOption]="false"
    [optionType]="'subcategory'" (selectedItemEmitter)="selectedItem($event)" [translatePosition]="translatePosition">
  </app-inline-carousel>
  <div class="form-group search_field" *ngIf="categoryList">
    <label for="category_search" class="text-bold" i18n="@@restaurant-profile-menu-c">{{ selectedCategory.category_name
      }}
      Search</label>
    <input id="category_search" type="text" class="form-control" placeholder="{{selectedCategory.category_name}} search"
      [(ngModel)]="searchedProduct" (keyup)="onKeyUpSearch()">
  </div>
  <div class="restaurant_content" *ngIf="products != []">
    <h2><span *ngIf="selectedCategory.category_name != ''">{{ selectedCategory.category_name }}</span>
      <span *ngIf="selectedSubCategory.subcategories_name != ''">-{{selectedSubCategory.subcategories_name }}</span>
    </h2>
    <div class="prod_list">
      <div class="card col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4" *ngFor="let product of products; odd as isOdd"
        (click)="showExtraPopup(product)">
        <div class="card_img">
          <img [src]="imgPath + product.product_imageUrl" alt="">
        </div>
        <div class="card_body">
          <h5>{{ product.product_name }}</h5>
          <p>{{ product.product_description }}</p>
          <p class="text-grey">
            <span i18n="@@restaurant-profile-menu-d">(Allergens: </span>
            <span *ngFor="let allergen of product.allergens_name; let last=last">
              <span *ngIf="last">{{ allergen.allergen_name }}</span>
              <span *ngIf="!last">{{ allergen.allergen_name }}, </span>
            </span>
            <span>)</span>
          </p>
          <div class="card_footer">
            <span class="price_item text-warning text-bold">
              {{ product.product_price }}Ft
            </span>
            <div class="counter">
              <app-counter (counterEmitter)="counterChange($event)"
                [counterOption]="{checkRequire: true, statusOption: isOdd ? 'bag' : 'check'}"></app-counter>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="" [(visible)]="isShownExtra" [style]="{width: '255px'}" [baseZIndex]="10000"
    styleClass="custom_dialog" [modal]="true">
    <p-header *ngIf="selectedProduct">
      <img [src]="imgPath + selectedProduct.product_imageUrl" alt="">
      <h5 class="text-bold text-center">Extras</h5>
    </p-header>
    <div class="main_info" *ngIf="selectedProduct">
      <h2>{{selectedProduct.product_name}}</h2>
      <p>{{selectedProduct.product_description}}</p>
      <div class="mb-4"><span i18n="@@restaurant-profile-menu-dialog-a">(Allergens: </span>
        <span *ngFor="let allergen of selectedProduct.allergens_name; let last=last">
          <span *ngIf="last">{{ allergen.allergen_name }}</span>
          <span *ngIf="!last">{{ allergen.allergen_name }}, </span>
        </span>
        <span>)</span>
      </div>
    </div>
    <div class="required_extra" *ngIf="requiredExtraList$ | async as requiredExtraList">
      <h5 class="text-bold" i18n="@@restaurant-profile-menu-dialog-b" *ngIf="requiredExtraList.length > 0">Required
        extra({{minRequired}} piece Required)</h5>
      <ul class="required_extra_list">
        <li class="d-flex justify-content-start align-items-start" *ngFor="let extra of requiredExtraList">
          <input type="radio" name="required_extra_item" id="required_extra_item">
          <div class="extra_content">
            <div class="extra_main_info d-flex justify-content-between align-items-start mb-2">
              <span>{{extra.extra_name}}</span>
              <span class="text-warning text-bold text-left mb-hidden">{{extra.extra_price}}Ft</span>
            </div>
            <div class="allergens text-left flex-wrap mb-2">
              <span i18n="@@restaurant-profile-menu-dialog-c">(Allergens: </span>
              <span *ngFor="let allergen of extra.allergens_name; let last=last">
                <span *ngIf="last">{{ allergen.allergen }}</span>
                <span *ngIf="!last">{{ allergen.allergen }}, </span>
              </span>
              <span>)</span>
            </div>
            <div class="mobile_counter_section">
              <span class="text-warning text-bold text-left">{{extra.extra_price}}Ft</span>
              <app-counter (counterEmitter)="counterChange($event)"
                [counterOption]="{checkRequire: false, extra_minQuantity: extra.extra_minQuantity, extra_maxQuantity: extra.extra_maxQuantity}">
              </app-counter>
            </div>
          </div>
          <div class="counter_section">
            <app-counter (counterEmitter)="counterChange($event)"
              [counterOption]="{checkRequire: false, extra_minQuantity: extra.extra_minQuantity, extra_maxQuantity: extra.extra_maxQuantity}">
            </app-counter>
          </div>
        </li>
      </ul>
    </div>
    <div class="optional_extra" *ngIf="optionalExtraList$ | async as optionalExtraList">
      <h5 class="text-bold" i18n="@@restaurant-profile-menu-dialog-d" *ngIf="optionalExtraList.length > 0">Optional
        extra(Not required)</h5>
      <ul class="optional_extra_list">
        <li class="d-flex justify-content-start align-items-start" *ngFor="let extra of optionalExtraList">
          <input type="checkbox" name="" id="">
          <div class="extra_content">
            <div class="extra_main_info d-flex justify-content-between align-items-start mb-2">
              <span>{{extra.extra_name}}</span>
              <span class="text-warning text-bold text-left mb-hidden">{{extra.extra_price}}Ft</span>
            </div>
            <div class="allergens text-left flex-wrap mb-2">
              <span i18n="@@restaurant-profile-menu-dialog-e">(Allergens: </span>
              <span *ngFor="let allergen of extra.allergens_name; let last=last">
                <span *ngIf="last">{{ allergen.allergen }}</span>
                <span *ngIf="!last">{{ allergen.allergen }}, </span>
              </span>
              <span>)</span>
            </div>
            <div class="mobile_counter_section">
              <span class="text-warning text-bold text-left">{{extra.extra_price}}Ft</span>
              <app-counter (counterEmitter)="counterChange($event)"
                [counterOption]="{checkRequire: false, extra_minQuantity: extra.extra_minQuantity, extra_maxQuantity: extra.extra_maxQuantity}">
              </app-counter>
            </div>

          </div>
          <div class="counter_section">
            <app-counter (counterEmitter)="counterChange($event)"
              [counterOption]="{checkRequire: false, extra_minQuantity: extra.extra_minQuantity, extra_maxQuantity: extra.extra_maxQuantity}">
            </app-counter>
          </div>
        </li>
      </ul>
      <hr />
      <div class="d-flex justify-content-center align-items-center show_more_section">
        <a class="text-warning text-decoration-none text-bold" i18n="@@restaurant-profile-menu-dialog-f">SHOW MORE</a>
      </div>

    </div>
    <div class="comments">
      <h5 class="text-bold" i18n="@@restaurant-profile-menu-dialog-g">Comment</h5>
      <textarea class="comment_content" name="" id="" cols="30" rows="4"></textarea>
    </div>
    <p-footer>
      <button type="button" class="btn btn-warning text-white btn-expand" (click)="closeExtra()"
        i18n="@@restaurant-profile-menu-dialog-h">Add to the
        cart</button>
    </p-footer>
  </p-dialog>

</main>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
