<div class="content">
  <h2 class="text-bold">Previous orders</h2>
  <div class="order_content">
    <ul class="order_list">
      <li class="list_header">
        <div class="text-left" style="width: 30%;">Where</div>
        <div class="text-left" style="width: 20%;">How much</div>
        <div class="text-left" style="width: 20%;">What</div>
        <div class="text-left" style="width: 30%;">When</div>
      </li>
      <li class="list_content" *ngFor="let orders of orderList; let i = index">
        <div class="text-left" style="width: 30%;">{{ orders.restaurant_name }}</div>
        <div class="text-left" style="width: 20%;">{{ orders.total }}&nbsp;{{'lei' | currencyUnit}}</div>
        <div class="text-left" style="width: 20%;">
          <a class="look_detail text-warning text-decoration-underline" (click)="takeLook(orders.order_id)">Take a
            look</a>
        </div>
        <div class="text-left" style="width: 30%;">{{ orders.time }}</div>
      </li>
    </ul>
  </div>
  <div class="pagination_section d-flex justify-content-end align-items-center mt-3" *ngIf="isBrowser && showLinkSize">
    <p-paginator [first]="firstRecord" [rows]="10" [totalRecords]="totalRecords" [showPageLinks]="true"
      [showFirstLastIcon]="false" [pageLinkSize]="linkSize" (onPageChange)="onPageChange($event)"></p-paginator>
  </div>
</div>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
