<main class="info_container">
  <section class="info_section">
    <h2 class="text-bold">INFO & PROMOTIONS</h2>
    <h5 class="text-bold">Average delivery time</h5>
    <p>Kb. 30 perc</p>
    <h5 class="text-bold">Address & Contacts</h5>
    <p>
      2715 Ash Dr. San Jose, South Dakota 83475
    </p>
    <h5 class="text-bold">Description</h5>
    <p>
      Duis vitae orci consequat egestas. Justo, diam, morbi accumsan facilisi aliquet. Vitae curabitur non in iaculis posuere nisi, feugiat. Diam neque lectus at lectus urna nisl, sed enim.
    </p>
  </section>
  <section class="time_section">
    <h2 class="text-bold">Opening hours</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let time of timeList">
        <span class="text-uppercase text-bold" >{{time.week}}</span>
        <span>{{time.time}}</span>
      </li>
    </ul>
  </section>
</main>