<main class="main_container" *ngIf="isBrowser">
  <section class="col-md-6 col-sm-12 d-flex flex-column justify-content-between">
    <h2 class="text-bold" i18n="@@register-title-a">Registration</h2>
    <form class="signin_form" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group message_section" *ngIf="isInvalidErrors">
        <p-messages severity="error">
          <ng-template pTemplate>
            <i class="fas fa-info-circle text-danger" width="32"></i>
            <div class="ml-2" i18n="@@register-user-exist">User already exist</div>
          </ng-template>
        </p-messages>
      </div>
      <div class="form-group">
        <label for="name" class="text-bold"
          [ngClass]="(isValidInput('name') && (registerForm.controls['name'].errors.required || registerForm.controls['name'].errors.pattern || registerForm.controls['name'].errors.minlength || registerForm.controls['name'].errors.maxlength)) ? 'text-red' : ''"
          i18n="@@register-name-b">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name"
          [ngClass]="(isValidInput('name') && (registerForm.controls['name'].errors.required || registerForm.controls['name'].errors.pattern || registerForm.controls['name'].errors.minlength || registerForm.controls['name'].errors.maxlength)) ? 'bd-red' : ''">
        <div *ngIf="isValidInput('name')" class="m-0 p-0">
          <div *ngIf="registerForm.controls['name'].errors.required">
            <small id="namedHelp" class="text-red" i18n="@@register-name-required">Name is required.</small>
          </div>
          <div *ngIf="registerForm.controls['name'].errors.pattern">
            <small id="namedHelp" class="text-red" i18n="@@register-name-not-format">Name is not a name format.</small>
          </div>
          <div *ngIf="registerForm.controls['name'].errors.minlength">
            <small id="namedHelp" class="text-red" i18n="@@register-name-three-character">The name must be at least 3
              characters long</small>
          </div>
          <div *ngIf="registerForm.controls['name'].errors.maxlength">
            <small id="namedHelp" class="text-red" i18n="@@register-name-twenty-character">The name must be maximum 20
              characters long</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="text-bold"
          [ngClass]="(isValidInput('email') && (registerForm.controls['email'].errors.required || registerForm.controls['email'].errors.pattern)) ? 'text-red' : ''"
          i18n="@@register-email-c">Email
          address</label>
        <input id="email" type="email" class="form-control" formControlName="email"
          [ngClass]="(isValidInput('email') && (registerForm.controls['email'].errors.required || registerForm.controls['email'].errors.pattern)) ? 'bd-red' : ''">
        <div *ngIf="isValidInput('email')" class="m-0 p-0">
          <div *ngIf="registerForm.controls['email'].errors.required">
            <small id="emailHelp" class="text-red" i18n="@@register-email-required">Email is required.</small>
          </div>
          <div *ngIf="registerForm.controls['email'].errors.pattern">
            <small id="emailHelp" class="text-red" i18n="@@register-email-not-format">Not an e-mail format</small>
          </div>
        </div>
      </div>

      <div class="form-group password_section">
        <label for="password" class="text-bold"
          [ngClass]="(isValidInput('password') && (registerForm.controls['password'].errors.required || registerForm.controls['password'].errors.minlength || registerForm.controls['password'].errors.maxlength)) ? 'text-red' : ''"
          i18n="@@register-password-d">Password</label><br />
        <label for="password" i18n="@@register-password-six-character">6+ characters</label>
        <input id="password" [type]="isShown? 'text' : 'password'" class="form-control" formControlName="password"
          [ngClass]="(isValidInput('password') && (registerForm.controls['password'].errors.required || registerForm.controls['password'].errors.minlength || registerForm.controls['password'].errors.maxlength)) ? 'bd-red' : ''">
        <i class="far" [ngClass]="isShown ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('origin')"></i>
        <div *ngIf="isValidInput('password')" class="m-0 p-0">
          <div *ngIf="registerForm.controls['password'].errors.required">
            <small id="passwordHelp" class="text-red" i18n="@@register-password-required">The password is
              required</small>
          </div>
          <div *ngIf="registerForm.controls['password'].errors.minlength">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@register-passwordconfirm-six-character">The
              password must
              be at least 6 characters long</small>
          </div>
          <div *ngIf="registerForm.controls['password'].errors.maxlength">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@register-password-thirty-character">The password
              must be maximum 30 characters long</small>
          </div>
        </div>
      </div>
      <div class="form-group password_section">
        <label for="passwordConfirm" class="text-bold"
          [ngClass]="(isValidInput('passwordConfirm') && (registerForm.controls['passwordConfirm'].errors.required || registerForm.controls['passwordConfirm'].errors.mustMatch)) ? 'text-red' : ''"
          i18n="@@register-passwordagain-g">Password
          again</label><br />
        <label for="passwordConfirm" i18n="@@register-passwordagin-six-character">6+ characters</label>
        <input id="passwordConfirm" [type]="isShownConfirm? 'text' : 'password'" class="form-control"
          formControlName="passwordConfirm"
          [ngClass]="(isValidInput('passwordConfirm') && (registerForm.controls['passwordConfirm'].errors.required || registerForm.controls['passwordConfirm'].errors.mustMatch)) ? 'bd-red' : ''">
        <i class="far" [ngClass]="isShownConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('confirm')"></i>
        <div *ngIf="isValidInput('passwordConfirm')" class="m-0 p-0">
          <div *ngIf="registerForm.controls['passwordConfirm'].errors.required">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@register-passwordagain-required">The password again
              is required</small>
          </div>
          <div *ngIf="registerForm.controls['passwordConfirm'].errors.mustMatch">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@register-password-again-not-match">The password
              again and password do not match</small>
          </div>
        </div>
      </div>

      <div class="form-check login_remember_section mt-1">
        <input type="checkbox" name="acceptTerms" id="acceptTerms" class="form-check-input" [checked]="isAcceptTerms"
          (change)="isAcceptTerms = !isAcceptTerms" />
        <label class="form-check-label" for="acceptTerms" i18n="@@register-accept-i-1">
          I accept the <a href="#" class="text-warning text-decoration-none">Terms and
            Conditions.</a></label>
      </div>
      <div class="form-check login_remember_section">
        <input type="checkbox" name="subscribe" id="subscribe" class="form-check-input" [checked]="isNewsletter"
          (change)="isNewsletter = !isNewsletter" />
        <label class="form-check-label" for="subscribe" i18n="@@register-newsletter-j">
          I subscribe to the newsletter.</label>
      </div>
      <div class="form-group login_btn_section">
        <button [disabled]="!registerForm.valid || !isAcceptTerms" type="submit" class="btn btn-warning text-white"
          i18n="@@register-registeration-button-k">Registration</button>
      </div>
    </form>
    <div class="signup_section">
      <h5 class="text-bold text-center" i18n="@@register-already-have-account">Do you already have an account?</h5>
      <button type="button" class="btn btn-white text-warning" [routerLink]="'/auth/login'"
        i18n="@@register-signin-q">Sign in!</button>
    </div>
  </section>
  <section class="col-md-6 col-sm-12">
  </section>
</main>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
