.main_container {
  width: 80%;
  min-height: calc(100% - 424px);
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5rem auto;
  section {
    &:first-child {
      margin-right: 1rem;
      h2 {
        margin-top: 1rem;
        font-size: 28px;
        font-weight: 900;
        @media all and (min-width: 1440px) {
          font-size: 32px;
        }
        @media all and (max-width: 590px) {
          font-size: 16px;
        }
        @media all and (max-width: 590px) {
          margin-right: 0;
        }
      }
      p {
        margin-top: 1rem;
        font-size: 12px;
        color: #666;
        @media all and (min-width: 1440px) {
          font-size: 16px;
        }
        @media all and (max-width: 590px) {
          font-size: 10px;
        }
      }
    }
    &.image_section {
      margin-left: 1rem;
      @media all and (max-width: 590px) {
        display: none !important;
      }
    }
  }
  @media all and (max-width: 590px) {
    width: 100%;
    margin: 1rem auto;
  }
}

.lostPW_form {
  label {
    font-size: 12px;
    @media all and (min-width: 1440px) {
      font-size: 16px;
    }
    @media all and (max-width: 590px) {
      font-size: 16px;
    }
  }
  .login_btn_section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 160px;
      height: 56px;
      font-size: 16px;
      border-radius: 6px;
    }
  }
  input {
    min-height: 44px;
    box-shadow: none;
    background: white !important;
    &:focus {
      box-shadow: none;
      border-color: #999;
    }
    &:valid {
      background-color: white !important;
    }
  }
  .form-control {
    &:valid {
      background-color: #fff !important;
    }
  }
}

:host {
  ::ng-deep {
    .p-dialog {
      border-radius: 10px;
      width: 350px !important;
      height: 260px !important;
      background-color: white;
      z-index: 110001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .p-dialog-header {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        @media all and (max-width: 360px) {
          padding: 1rem 1rem 0.5rem 1rem !important;
        }
        .p-dialog-title {
          width: 42px;
          height: 42px;
          margin: 1rem auto 0 auto;
        }
        .p-dialog-header-icons {
          display: none;
        }
      }
      .p-dialog-content {
        width: 100%;
        padding: 0.5rem 0.5rem;
        h2 {
          font-size: 24px;
          color: #111;
          @media all and (max-width: 590px) {
            font-size: 16px !important;
          }
        }
      }
      .p-dialog-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
        button {
          width: 78px;
          height: 48px;
          margin: 0;
          font-size: 16px;
          box-shadow: none;
        }
      }
      @media all and (max-width: 360px) {
        width: 280px !important;
        height: 220px !important;
      }
    }
  }
}

.btn-white {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.text-warning {
  color: #f78f1e !important;
}

.pull-right {
  float: right !important;
}

.bd-red {
  border-color: #f00 !important;
}
