<main class="main_container" *ngIf="isBrowser">
  <section class="col-md-6 col-sm-12 d-flex flex-column justify-content-between">
    <h2 i18n="@@forgotten-title-a">Forgotten password</h2>
    <p i18n="@@forgotten-description-b">Enter your e-mail address where we can send your password change information.
    </p>
    <form class="lostPW_form" [formGroup]="lostPWForm">
      <div class="form-group mt-2">
        <label for="email" class="text-bold"
          [ngClass]="(isValidInput('email') && (lostPWForm.controls['email'].errors.required || lostPWForm.controls['email'].errors.pattern)) ? 'text-red' : ''"
          i18n="@@forgotten-email-c">E-mail
          address</label>
        <input id="email" type="email" class="form-control" formControlName="email"
          [ngClass]="(isValidInput('email') && (lostPWForm.controls['email'].errors.required || lostPWForm.controls['email'].errors.pattern)) ? 'bd-red' : ''">
        <div *ngIf="isValidInput('email')" class="m-0 p-0">
          <div *ngIf="lostPWForm.controls['email'].errors.required">
            <small id="emailHelp" class="text-red" i18n="@@forgotten-email-required">Email is required.</small>
          </div>
          <div *ngIf="lostPWForm.controls['email'].errors.pattern">
            <small id="emailHelp" class="text-red" i18n="@@forgotten-email-not-format">Not an e-mail format</small>
          </div>
        </div>
      </div>
      <div class="form-group login_btn_section">
        <button [disabled]="!lostPWForm.valid" type="button" (click)="sendMsg()" class="btn btn-warning text-white"
          i18n="@@forgotten-sending-d">Sending</button>
      </div>
    </form>
  </section>
  <section class="col-md-6 col-sm-12">
    <img src="./assets/images/portfolio.svg" class="w-100" alt="">
  </section>
  <p-dialog header="" [(visible)]="isShown" [style]="{width: '255px'}" [baseZIndex]="10000" styleClass="custom_dialog"
    *ngIf="isBrowser" [modal]="true">
    <p-header>
      <img [src]="statusIcon" alt="">
    </p-header>
    <h2 class="text-bold text-center">{{statusMsg}}</h2>
    <p-footer>
      <button type="button" class="btn btn-warning-light text-warning" (click)="closeMsg()"
        i18n="@@forgotten-close-button-c" [routerLink]="''">Close</button>
    </p-footer>
  </p-dialog>
</main>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
