<main class="menu_container">
  <h2 class="text-bold">Menu</h2>
  <app-inline-carousel [itemList]="categoryList"></app-inline-carousel>
  <app-inline-carousel [itemList]="categoryList"></app-inline-carousel>
  <!-- <div #mainCategory class="main_category">
    <div #mainCarousel class="main_carousel">
      <button class="btn btn-white mainCategory" *ngFor="let category of categoryList">{{category.name}}</button>
    </div>
    <button class="btn btn-warning-light prev_icon" (click)="prevCarousel('mainCategory')" ><i class="fas fa-chevron-left"></i></button>
    <button class="btn btn-warning-light next_icon" (click)="nextCarousel('mainCategory')" ><i class="fas fa-chevron-right"></i></button>
  </div>
  <h5>Availability</h5>
  <div #subCategory class="sub_category">
    <div #subCarousel class="main_carousel">
      <button class="btn btn-white subCategory" *ngFor="let category of categoryList">{{category.name}}</button>
    </div>
    <button class="btn btn-warning-light prev_icon" (click)="prevCarousel('subCategory')"><i class="fas fa-chevron-left"></i></button>
    <button class="btn btn-warning-light next_icon" (click)="nextCarousel('subCategory')"><i class="fas fa-chevron-right"></i></button>
  </div> -->
</main>
