<main class="menulist_container">
  <ul>
    <li class="menuitem" [ngClass]="profileType == 'update' ? 'active' : ''" (click)="loadComponent('update')"
      i18n="@@profile-update-f">Edit
      profile information</li>
    <li class="menuitem" [ngClass]="profileType == 'changepwd' ? 'active' : ''" (click)="loadComponent('changepwd')"
      i18n="@@profile-changepwd-f">
      Change password</li>
    <li class="menuitem" [ngClass]="(profileType == 'delivery-list' || profileType == 'delivery-edit')? 'active' : ''"
      (click)="loadComponent('delivery-list')" i18n="@@profile-deliverylist-b">Delivery addresses list</li>
    <li class="menuitem" [ngClass]="profileType == 'orders' ? 'active' : ''" (click)="loadComponent('orders')"
      i18n="@@profile-previous-orders-a">Previous
      orders</li>
    <li class="menuitem" [ngClass]="(profileType == 'review-list'  ||  profileType == 'review-edit') ? 'active' : ''"
      (click)="loadComponent('review-list')" i18n="@@profile-review-list-h">Review List
    </li>
    <li class="menuitem" [ngClass]="profileType == 'delete' ? 'active' : ''" (click)="loadComponent('delete')"
      i18n="@@profile-delete-d">Delete
      profile</li>
  </ul>
</main>
