<div class="content">
  <h2 class="text-bold" i18n="@@profile-changepwd-title-a">Change password</h2>
  <form class="mainForm" [formGroup]="changePwdForm" (ngSubmit)="save()">
    <div class="form-group password_section">
      <label for="oldPassword" class="text-bold"
        [ngClass]="(isValidInput('oldPassword') && (changePwdForm.controls['oldPassword'].errors.required || changePwdForm.controls['oldPassword'].errors.minlength || changePwdForm.controls['oldPassword'].errors.maxlength)) ? 'text-red' : ''"
        i18n="@@profile-changepwd-oldPassword-b">Old Password (Required)</label><br />
      <label for="oldPassword" i18n="@@@@profile-changepwd-six-character">6+ characters</label>
      <input id="oldPassword" [type]="isShownOld? 'text' : 'password'" class="form-control"
        formControlName="oldPassword"
        [ngClass]="(isValidInput('oldPassword') && (changePwdForm.controls['oldPassword'].errors.required || changePwdForm.controls['oldPassword'].errors.minlength || changePwdForm.controls['oldPassword'].errors.maxlength)) ? 'bd-red' : ''">
      <i class="far" [ngClass]="isShownOld ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('origin')"></i>
      <div *ngIf="isValidInput('oldPassword')" class="m-0 p-0">
        <div *ngIf="changePwdForm.controls['oldPassword'].errors.required">
          <small id="passwordHelp" class="text-red" i18n="@@profile-changepwd-name-required">Old Password is
            required.</small>
        </div>
        <div *ngIf="changePwdForm.controls['oldPassword'].errors.minlength">
          <small id="passwordHelp" class="text-red" i18n="@@profile-changepwd-name-three-character">The Password must
            be at least 6 characters long</small>
        </div>
        <div *ngIf="changePwdForm.controls['oldPassword'].errors.maxlength">
          <small id="namedHelp" class="text-red" i18n="@@profile-changepwd-name-twenty-character">The Password must be
            maximum 30 characters long</small>
        </div>
      </div>
    </div>
    <div class="form-group password_section">
      <label for="newPassword" class="text-bold"
        [ngClass]="(isValidInput('newPassword') && (changePwdForm.controls['newPassword'].errors.required || changePwdForm.controls['newPassword'].errors.minlength || changePwdForm.controls['newPassword'].errors.maxlength)) ? 'text-red' : ''"
        i18n="@@profile-changepwd-password-d">New Password (Required)</label><br />
      <label for="newPassword" i18n="@@profile-changepwd-password-six-character">6+ characters</label>
      <input id="newPassword" [type]="isShownNew? 'text' : 'password'" class="form-control"
        formControlName="newPassword"
        [ngClass]="(isValidInput('newPassword') && (changePwdForm.controls['newPassword'].errors.required || changePwdForm.controls['newPassword'].errors.minlength || changePwdForm.controls['newPassword'].errors.maxlength)) ? 'bd-red' : ''">
      <i class="far" [ngClass]="isShownNew ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('new')"></i>
      <div *ngIf="isValidInput('newPassword')" class="m-0 p-0">
        <div *ngIf="changePwdForm.controls['newPassword'].errors.required">
          <small id="passwordHelp" class="text-red" i18n="@@profile-changepwd-password-required">The password is
            required</small>
        </div>
        <div *ngIf="changePwdForm.controls['newPassword'].errors.minlength">
          <small id="passwordConfirmHelp" class="text-red" i18n="@@profile-changepwd-passwordconfirm-six-character">The
            password must
            be at least 6 characters long</small>
        </div>
        <div *ngIf="changePwdForm.controls['newPassword'].errors.maxlength">
          <small id="passwordConfirmHelp" class="text-red" i18n="@@profile-changepwd-password-thirty-character">The
            password
            must be maximum 30 characters long</small>
        </div>
      </div>
    </div>
    <div class="form-group password_section">
      <label for="passwordConfirm" class="text-bold"
        [ngClass]="(isValidInput('passwordConfirm') && (changePwdForm.controls['passwordConfirm'].errors.required || changePwdForm.controls['passwordConfirm'].errors.mustMatch)) ? 'text-red' : ''"
        i18n="@@profile-changepwd-passwordagain-g">New Password
        again (Required)</label><br />
      <label for="passwordConfirm" i18n="@@profile-changepwd-passwordagin-six-character">6+ characters</label>
      <input id="passwordConfirm" [type]="isShownConfirm? 'text' : 'password'" class="form-control"
        formControlName="passwordConfirm"
        [ngClass]="(isValidInput('passwordConfirm') && (changePwdForm.controls['passwordConfirm'].errors.required || changePwdForm.controls['passwordConfirm'].errors.mustMatch)) ? 'bd-red' : ''">
      <i class="far" [ngClass]="isShownConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('confirm')"></i>
      <div *ngIf="isValidInput('passwordConfirm')" class="m-0 p-0">
        <div *ngIf="changePwdForm.controls['passwordConfirm'].errors.required">
          <small id="passwordConfirmHelp" class="text-red" i18n="@@profile-changepwd-passwordagain-required">The
            password again
            is required</small>
        </div>
        <div *ngIf="changePwdForm.controls['passwordConfirm'].errors.mustMatch">
          <small id="passwordConfirmHelp" class="text-red" i18n="@@profile-changepwd-password-again-not-match">The
            password
            again and password do not match</small>
        </div>
      </div>
    </div>
    <div class="btn_section">
      <button [disabled]="!changePwdForm.valid" type="submit" class="btn btn-warning text-white"
        i18n="@@profile-changepwd-registeration-button-k"><i class="far fa-save mr-2"></i> Save</button>
    </div>
  </form>
</div>
<p-dialog header="" [(visible)]="isShownDig" [style]="{width: '255px'}" [baseZIndex]="10000" styleClass="custom_dialog"
  [modal]="true">
  <p-header>
    <img [src]="statusIcon" alt="">
  </p-header>
  <h2 class="text-bold text-center">{{statusMsg}}</h2>
  <p-footer>
    <button type="button" class="btn btn-warning-light text-warning" (click)="closeMsg()"
      i18n="@@profile-changepwd-close-button-c">Close</button>
  </p-footer>
</p-dialog>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
