.content {
  width: 70%;
  .mainForm {
    .form-group {
      margin-top: 1.5rem;
    }
  }
  .btn_section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    button {
      width: 126px;
      font-size: 16px;
    }
  }
  .password_section {
    position: relative;
    margin-bottom: 1rem;
    label {
      margin-bottom: 0;
    }
    .far {
      position: absolute;
      top: 59px;
      right: 15px;
      font-size: 18px !important;
      color: #666 !important;
      cursor: pointer;
    }
  }
  @media all and (max-width: 590px) {
    width: 100%;
    & > h2 {
      font-size: 22px;
    }
  }
}

.btn-white {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.text-warning {
  color: #f78f1e !important;
}

.pull-right {
  float: right !important;
}

.bd-red {
  border-color: #f00 !important;
}

:host {
  ::ng-deep {
    .p-dialog {
      border-radius: 10px;
      width: 350px !important;
      height: 260px !important;
      background-color: white;
      z-index: 110001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .p-dialog-header {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        @media all and (max-width: 360px) {
          padding: 1rem 1rem 0.5rem 1rem !important;
        }
        .p-dialog-title {
          width: 42px;
          height: 42px;
          margin: 1rem auto 0 auto;
        }
        .p-dialog-header-icons {
          display: none;
        }
      }
      .p-dialog-content {
        width: 100%;
        padding: 0.5rem 0.5rem;
        h2 {
          font-size: 24px;
          color: #111;
          @media all and (max-width: 590px) {
            font-size: 16px !important;
          }
        }
      }
      .p-dialog-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
        button {
          // width: 78px;
          padding-left: 1rem;
          padding-right: 1rem;
          height: 48px;
          margin: 0;
          font-size: 16px;
          box-shadow: none;
        }
      }
      @media all and (max-width: 360px) {
        width: 280px !important;
        height: 220px !important;
      }
    }
  }
}
