<main class="main_container" *ngIf="isBrowser">
  <h1 *ngIf="cookieService.get('change_lang') == 'en'"><span class="text-bold">We have found&nbsp;<span
        class="text-warning text-bold">{{restaurantListLength$ | async}} Restaurants&nbsp;</span>for you</span></h1>
  <h1 *ngIf="cookieService.get('change_lang') == 'ro'"><span class="text-bold">Am găsit&nbsp;<span
        class="text-warning text-bold">{{restaurantListLength$ | async}} de restaurante&nbsp;</span>pentru dvs</span>
  </h1>
  <h1 *ngIf="cookieService.get('change_lang') == 'hu'"><span class="text-warning text-bold">{{restaurantListLength$ |
      async}}
      éttermet</span><span class="text-bold"> találtunk számodra </span></h1>
  <div class="main_content mt-4">
    <div class="filter_section" [ngClass]="filterShow ? 'active': ''">
      <app-filter-section (selectedFilterOptions)="filterEventFromPanel($event)"
        (showFilterOptions)="filterShowEvent($event)" [filterShow]="filterShow"></app-filter-section>
    </div>
    <div class="main_body" [ngClass]="filterShow ? 'active': ''">
      <h5 i18n="@@restaurant-list-a">Find a restaurant by name</h5>
      <div class="search_box">
        <i class="fas fa-search"></i>
        <input type="text" class="form-control" placeholder="Restaurant name..." [(ngModel)]="searchString"
          (keyup)="onKeyUpSearch()" autocomplete="off">
        <i class="fas fa-sliders-h" (click)="filterShown()"></i>
      </div>
      <div class="w-100" *ngIf="restaurantList$ | async as restaurants">
        <div class="result_body" *ngIf="restaurantListLength$ | async; else noResult">
          <div class="card col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4" *ngFor="let restaurant of restaurants"
            (click)="restaurantProfile(restaurant)">
            <app-image-with-loading [imageUrl]="'https://admin.foodnet.ro/' + restaurant.restaurant_coverImage"
              [loader]="'./assets/images/loading_spinner1.svg'" class="card-img">
            </app-image-with-loading>
            <span class="badge" *ngIf="restaurant.restaurant_new == 1" i18n="@@restaurant-list-new-badge">New
              restaurant</span>
            <span class="badge" *ngIf="restaurant.restaurant_discount == 1"
              i18n="@@restaurant-list-discount-badge">Special
              price</span>
            <div class="overlay" *ngIf="!isOverdue(restaurant.restaurant_open, restaurant.restaurant_close)">
              <span i18n="@@restaurant-list-btn-close">Closed</span>
            </div>
            <div class="card-body"
              [ngClass]="!isOverdue(restaurant.restaurant_open, restaurant.restaurant_close) ? 'closed' : ''">
              <h4 class="card-title">
                <strong class="text-bold">{{restaurant.restaurant_name}}</strong>
                <label class="rate-label" *ngIf="restaurant.restaurant_rating !== 0 && restaurant.restaurant_rating">
                  <i class="far fa-star text-warning"></i>
                  <span class="text-warning text-bold">{{restaurant.restaurant_rating}}/5</span>
                </label>
              </h4>
              <p class="card-text block-with-text">{{restaurant.restaurant_description}}</p>
            </div>
          </div>
        </div>
        <ng-template #noResult>
          <h3 class="text-warning text-center mt-5">No Restaurant Found</h3>
        </ng-template>
      </div>
    </div>
  </div>
</main>
<p-dialog header="" [(visible)]="isRemovePrevOrderDialog" [style]="{width: '255px'}" [baseZIndex]="10000"
  styleClass="custom_dialog" *ngIf="isBrowser" [modal]="true">
  <p-header>
    <h2 i18n="@@restaurant-list-delete-dialog-a">Already you have carts for previous restaurant.</h2>
  </p-header>
  <p class="text-bold text-center" i18n="@@restaurant-list-delete-dialog-b">This will cause all your previous data to be
    lost
    and cannot be restored.</p>
  <p-footer>
    <button type="button" class="btn bg-grey" (click)="closeMsg(false)"
      i18n="@@restaurant-list-delete-dialog-c">No</button>
    <button type="button" class="btn bg-grey" (click)="closeMsg(true)"
      i18n="@@restaurant-list-delete-dialog-d">Yes</button>
  </p-footer>
</p-dialog>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
