.carousel-main-container {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #C4C4C4;
  .carousel-container {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    overflow-x: hidden;
    width: 80%;
    .carousel-items {
      white-space: nowrap;
      padding-left: 2px;
      // width: 90%;
      // overflow-x: hidden;
      button {
        margin-right: 1rem;
        &.active {
          border-color: #f78f1e;
          color: #f78f1e;
        }
        &:hover {
          box-shadow: 0 0 0 0.15rem rgba(250, 150, 93, 0.856);
        }
        &:focus {
          box-shadow: 0 0 0 0.15rem rgba(250, 150, 93, 0.856);
        }
      }
    }
    @media all and (max-width: 590px) {
      width: 100%;
      overflow-x: auto;
    }
  }
  .prev_icon {
    box-shadow: none;
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
    @media all and (max-width: 590px){
      display: none;
    }
  }
  .next_icon {
    box-shadow: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    @media all and (max-width: 590px){
      display: none;
    }
  }

}

.btn-white {
  background-color: white;
  border: 2px solid #C4C4C4;
  border-radius: 6px;
}

.btn-warning-light {
  background-color: #FEEBD6;
  height: 50px;
  width: 56px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}