<div class="content">
  <h2 class="text-bold">{{title}}</h2>
  <div>
    <label for="city" class="text-bold" i18n="@@profile-delivery-edit-b">Settlement (Required)</label>
    <p-dropdown [options]="deliveryAddress" name="selectedCity" [(ngModel)]="selectedCity" optionLabel="cities"
      placeholder="Select a Settlement" required="true">
      <ng-template let-city pTemplate="item">
        <div class="city-item">
          {{city.cities}}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <form class="mainForm" [formGroup]="addressForm" (ngSubmit)="update()" *ngIf="!isSpinner">
    <div class="form-group">
      <label for="street" class="text-bold"
        [ngClass]="(isValidInput('street') && addressForm.controls['street'].errors.required) ? 'text-red' : ''"
        i18n="@@profile-delivery-edit-c">Street
        (Required)</label>
      <input id="street" type="text" class="form-control" formControlName="street"
        [ngClass]="(isValidInput('street') && addressForm.controls['street'].errors.required ) ? 'bd-red' : ''">
      <div *ngIf="isValidInput('street')" class="m-0 p-0">
        <div *ngIf="addressForm.controls['street'].errors.required">
          <small id="streetHelp" class="text-red" i18n="@@profile-delivery-edit-street-required">Street is
            required.</small>
        </div>
        <div *ngIf="addressForm.controls['street'].errors.minlength">
          <small id="streetHelp" class="text-red" i18n="@@profile-delivery-edit-two-character">The
            password must
            be at least 2 characters long</small>
        </div>
        <div *ngIf="addressForm.controls['street'].errors.maxlength">
          <small id="streetHelp" class="text-red" i18n="@@profile-delivery-edit-hundred-character">The password
            must be maximum 100 characters long</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="houseNumber" class="text-bold"
            [ngClass]="(isValidInput('houseNumber') && addressForm.controls['houseNumber'].errors.required) ? 'text-red' : ''"
            i18n="@@profile-delivery-edit-d">House Number (Required)</label>
          <input id="houseNumber" type="text" class="form-control" formControlName="houseNumber"
            [ngClass]="(isValidInput('houseNumber') && addressForm.controls['houseNumber'].errors.required ) ? 'bd-red' : ''">
          <div *ngIf="isValidInput('houseNumber')" class="m-0 p-0">
            <div *ngIf="addressForm.controls['houseNumber'].errors.required">
              <small id="houseNumberHelp" class="text-red" i18n="@@profile-delivery-edit-housenumber-required">House
                Number is required.</small>
            </div>
            <div *ngIf="addressForm.controls['houseNumber'].errors.minlength">
              <small id="streetHelp" class="text-red" i18n="@@profile-delivery-edit-one-character">The
                password must
                be at least 1 characters long</small>
            </div>
            <div *ngIf="addressForm.controls['houseNumber'].errors.maxlength">
              <small id="streetHelp" class="text-red" i18n="@@profile-delivery-edit-twenty-character">The password
                must be maximum 20 characters long</small>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="floor" class="text-bold" i18n="@@profile-delivery-edit-e">Floor (Optional)</label>
          <input id="floor" type="text" class="form-control" formControlName="floor">
        </div>
        <div class="col">
          <label for="door" class="text-bold" i18n="@@profile-delivery-edit-f">Door (Optional)</label>
          <input id="door" type="text" class="form-control" formControlName="doorNumber">
        </div>
      </div>
    </div>
    <div class="btn_section">
      <button class="btn btn-warning text-white text-bold" type="submit" i18n="@@profile-delivery-edit-g"
        [disabled]="!selectedCity || !addressForm.valid"> <i class="fas fa-save mr-2"></i> Save</button>
    </div>
  </form>
</div>

<p-dialog header="" [(visible)]="isShown" [style]="{width: '255px'}" [baseZIndex]="10000" styleClass="custom_dialog"
  [modal]="true">
  <p-header>
    <img [src]="statusIcon" alt="">
  </p-header>
  <h2 class="text-bold text-center">{{statusMsg}}</h2>
  <p-footer>
    <button type="button" class="btn btn-warning-light text-warning" (click)="closeMsg()"
      i18n="@@profile-delivery-edit-close-button-c">Close</button>
  </p-footer>
</p-dialog>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>