<div class="content">
  <h2 class="text-bold">{{title}}</h2>
  <form class="mainForm" [formGroup]="addressForm" (ngSubmit)="update()">
    <div class="form-group" *ngIf="isBrowser">
      <label for="city" class="text-bold"
        >Settlement (Required)</label>
      <p-dropdown [options]="cities" class="form-control" id="city" itemSize="30" optionLabel="title" required="true" formControlName="city" ngModelOptions="{standalone: true}" [(ngModel)]="selectedCity" placeholder="Select a Settlement">
        <ng-template let-city pTemplate="item">          
          <div class="city-item">
            {{city.title}}
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="form-group">
      <label for="street" class="text-bold"
        [ngClass]="(isValidInput('street') && addressForm.controls['street'].errors.required) ? 'text-red' : ''"
        >Street (Required)</label>
      <input id="street" type="text" class="form-control" formControlName="street"
        [ngClass]="(isValidInput('street') && addressForm.controls['street'].errors.required ) ? 'bd-red' : ''">
      <div *ngIf="isValidInput('street')" class="m-0 p-0">
        <div *ngIf="addressForm.controls['street'].errors.required">
          <small id="streetHelp" class="text-red">Street is required.</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="houseNumber" class="text-bold"
          [ngClass]="(isValidInput('houseNumber') && addressForm.controls['houseNumber'].errors.required) ? 'text-red' : ''"
          >House Number (Required)</label>
          <input id="houseNumber" type="text" class="form-control" formControlName="houseNumber"
            [ngClass]="(isValidInput('houseNumber') && addressForm.controls['houseNumber'].errors.required ) ? 'bd-red' : ''">
          <div *ngIf="isValidInput('houseNumber')" class="m-0 p-0">
            <div *ngIf="addressForm.controls['houseNumber'].errors.required">
              <small id="houseNumberHelp" class="text-red">House Number is required.</small>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="floor" class="text-bold" >Floor (Optional)</label>
          <input id="floor" type="text" class="form-control" formControlName="floor" >
        </div>
        <div class="col">
          <label for="door" class="text-bold" >Door (Optional)</label>
          <input id="door" type="text" class="form-control" formControlName="door" >
        </div>
      </div>
    </div>

  </form>
  <div class="btn_section">
      <button class="btn btn-warning text-white text-bold"> <i class="fas fa-save mr-2"></i> Save</button>
  </div>
</div>