.counter_container {
  .decrease,
  .increase {
    cursor: pointer;
    .fas {
      font-size: 18px;
    }
  }
  .counts,
  .unit {
    font-size: 16px;
  }
  .status_item {
    background-color: #f78f1e;
    img {
      width: 90%;
      height: auto;
    }
  }
  
}


.btn-white {
  background-color: white;
  border: 2px solid #C4C4C4;
  border-radius: 6px;
}

.btn-warning-light {
  background-color: #FEEBD6;
  height: 50px;
  width: 56px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}