<main class="main_container" *ngIf="isBrowser">
  <section class="col-md-6 col-sm-12 d-flex flex-column justify-content-between">
    <h2 class="text-bold" i18n="@@reset-title-a">Set a new password</h2>
    <p i18n="@@reset-description-b">Enter the new password to use your account.</p>
    <form class="signin_form" [formGroup]="resetPWDForm" (ngSubmit)="resetPWD()">
      <div class="form-group message_section" *ngIf="isInvalidErrors">
        <p-messages severity="error">
          <ng-template pTemplate>
            <i class="fas fa-info-circle text-danger" width="32"></i>
            <!-- ro: Token nu este valid
            hu: Token érvénytelen
            en: Token not valid -->
            <div class="ml-2" i18n="@@reset-new-password-invalid-token">Token not valid</div>
          </ng-template>
        </p-messages>
      </div>
      <div class="form-group" class="password_section">
        <label for="password" class="text-bold"
          [ngClass]="(isValidInput('password') && (resetPWDForm.controls['password'].errors.required || resetPWDForm.controls['password'].errors.minlength || resetPWDForm.controls['password'].errors.maxlength)) ? 'text-red' : ''"
          i18n="@@reset-new-password">New
          Password</label><br />
        <label for="password" i18n="@@reset-new-password-six-character">6+ characters</label>
        <input id="password" [type]="isShown? 'text' : 'password'" class="form-control" formControlName="password"
          [ngClass]="(isValidInput('password') && (resetPWDForm.controls['password'].errors.required || resetPWDForm.controls['password'].errors.minlength || resetPWDForm.controls['password'].errors.maxlength)) ? 'bd-red' : ''">
        <i class="far" [ngClass]="isShown ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('origin')"></i>
        <div *ngIf="isValidInput('password')" class="m-0 p-0">
          <div *ngIf="resetPWDForm.controls['password'].errors.required">
            <small id="passwordHelp" class="text-red" i18n="@@reset-new-password-required">The password is
              required</small>
          </div>
          <div *ngIf="resetPWDForm.controls['password'].errors.minlength">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@reset-new-password-six-character-required">The
              password must be at least 6 characters long</small>
          </div>
          <div *ngIf="resetPWDForm.controls['password'].errors.maxlength">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@reset-new-password-thirty-character-required">The
              password must be maximum 30 characters long</small>
          </div>
        </div>
      </div>
      <div class="form-group" class="password_section">
        <label for="passwordAgain" class="text-bold"
          [ngClass]="(isValidInput('passwordAgain') && (resetPWDForm.controls['passwordAgain'].errors.required || resetPWDForm.controls['passwordAgain'].errors.mustMatch)) ? 'text-red' : ''"
          i18n="@@reset-new-password-again-f">New
          Password again</label><br />
        <label for="passwordAgain" i18n="@@reset-new-password-again-six-character">6+ characters</label>
        <input id="passwordAgain" [type]="isShownConfirm? 'text' : 'password'" class="form-control"
          formControlName="passwordAgain"
          [ngClass]="(isValidInput('passwordAgain') && (resetPWDForm.controls['passwordAgain'].errors.required || resetPWDForm.controls['passwordAgain'].errors.mustMatch)) ? 'bd-red' : ''">
        <i class="far" [ngClass]="isShownConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleEye('confirm')"></i>
        <div *ngIf="isValidInput('passwordAgain')" class="m-0 p-0">
          <div *ngIf="resetPWDForm.controls['passwordAgain'].errors.required">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@reset-new-password-again-required">The password is
              required</small>
          </div>
          <div *ngIf="resetPWDForm.controls['passwordAgain'].errors.mustMatch">
            <small id="passwordConfirmHelp" class="text-red" i18n="@@reset-new-password-again-not-match">The password
              again and password do not match</small>
          </div>
        </div>
      </div>
      <div class="form-group login_btn_section">
        <button [disabled]="!resetPWDForm.valid" type="submit" class="btn btn-warning text-white"
          i18n="@@reset-new-password-save-button">Save</button>
      </div>
    </form>
  </section>
  <section class="col-md-6 col-sm-12">
    <img src="./assets/images/portfolio.svg" class="w-100" alt="">
  </section>
</main>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
