.filter_container {
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 2rem;
  & > h5 {
    font-size: 12px;
    @media all and (max-width: 590px) {
      display: none;
    }
  }
  .filter_block {
    display: block;
    margin-top: 1rem;
    h5 {
      width: 100%;
      font-size: 14px;
      color: #111;
    }
    .col-12 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      button {
        margin: 0.5rem 0.5rem 0.5rem 0rem;
        font-size: 14px;
        padding: 0.5rem;
        border: 2px solid #999;
        border-radius: 6px;
        box-shadow: none;
        &.active {
          border: 2px solid #f78f1e;
          font-weight: bold;
        }
      }
    }
  }
  .mb_btn {
    display: none;
    @media all and (max-width: 590px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .btn-expand {
        width: 80%;
      }
    }
  }
  @media all and (max-width: 980px) {
    padding: 1rem;
  }
  @media all and (max-width: 780px) {
    padding: 1rem 0.5rem;
  }
  @media all and (max-width: 590px) {
    border: none;
  }
}

.text-grey {
  color: #999;
}

.text-warning {
  color: #f78f1e !important;
}

.btn-white {
  background-color: white;
}
