.info_container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  .info_section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h2 {
      font-size: 32px;
      color: #111;
      margin-bottom: 1.5rem;
    }
    h5 {
      font-size: 18px;
      color: #111;
    }
    p {
      font-size: 16px;
      color: #333;
    }
  }
  .time_section {
    width: 40%;
    h2 {
      font-size: 18px;
    }
    .list-group {
      .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  @media all and (max-width: 790px) {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .info_section {
      width: 100%;
      h2 {
        font-size: 24px;
      }
      h5 {
        font-size: 16px;
      }
    }
    .time_section {
      width: 100%;
    }
  }
}