<main class="info_container" *ngIf="restaurantInfo">
  <section class="info_section">
    <h2 class="text-bold" i18n="@@restaurant-profile-info-a">INFO & PROMOTIONS</h2>
    <h5 class="text-bold" i18n="@@restaurant-profile-info-b">Average delivery time</h5>
    <p>Kb. {{restaurantInfo.restaurant_AvgDeliveryTime}} perc</p>
    <h5 class="text-bold" i18n="@@restaurant-profile-info-c">Address & Contacts</h5>
    <p>{{restaurantInfo.restaurant_address}}</p>
    <h5 class="text-bold" i18n="@@restaurant-profile-info-d">Description</h5>
    <p>{{restaurantInfo.restaurant_description}}</p>
  </section>
  <section class="time_section">
    <h2 class="text-bold" i18n="@@restaurant-profile-info-e">Opening hours</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let date of restaurantInfo.result">
        <span class="text-uppercase text-bold">{{date.day}}</span>
        <span>{{date.open}} - {{date.close}}</span>
      </li>
    </ul>
  </section>
</main>
<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
