<div class="content d-flex flex-column justify-content-start align-items-start">
  <div class="order_detail_content d-flex flex-column justify-content-start align-items-start">
    <label class="text-grey" for="item">Order ID:</label>
    <p id="item" class="text-bold mt-0">123A887BB</p>
  </div>
  <div class="order_detail_content d-flex flex-column justify-content-start align-items-start">
    <label class="text-grey" for="item">Order placed:</label>
    <p id="item" class="text-bold mt-0">2020. Oct 11 - 5:00 p.m.</p>
  </div>
  <div class="order_detail_content d-flex flex-column justify-content-start align-items-start">
    <label class="text-grey" for="item">Place and method of collection:</label>
    <p id="item" class="text-bold mt-0">4400 Nyíregyháza Szép ut. 13., Cash</p>
  </div>
  <hr class="w-100" />
  <div class="order_detail_foods d-flex flex-row justify-content-between align-items-start flex-wrap">
    <div class="card col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4 d-flex flex-row flex-nowrap justify-content-center align-items-start" *ngFor="let food of foodList">
      <div class="card_img">
        <img src="./assets/images/product_1.svg" alt="">
      </div>
      <div class="card_body d-flex flex-column justify-content-start align-items-start">
        <h5>{{ food.product_name }}</h5>
        <p>{{ food.product_description }}</p>
        <p class="text-grey">
          <span>(Allergens: </span>
          <span *ngFor="let allergen of food.allergens_name; let last=last">
            <span *ngIf="last">{{ allergen.allergen_name }}</span>
            <span *ngIf="!last">{{ allergen.allergen_name }}, </span>
          </span>
          <span>)</span>
        </p>
        <div class="extra_section">
          <a class="plus_extra"><i class="fas fa-plus"></i></a>
          <span>1*Extra 1, 2*Extra 2, 3*Extra 3</span>
        </div>  
        <div class="card_footer d-flex justify-content-between align-items-center">
          <span class="price_item text-warning text-bold">
            {{ food.product_price }}Ft
          </span>
        </div>
      </div>
    </div>
  </div>
</div>