.main_container {
  width: 80%;
  min-height: calc(100% - 400px);
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 5rem auto;
  h1 {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    @media all and (max-width: 590px) {
      font-size: 16px;
      padding-left: 5px;
    }
  }
  .main_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .menulist {
      width: 25%;
      min-height: 336px;
      display: block;
      padding-right: 2rem;
      @media all and (max-width: 1440px) {
        padding-right: 1rem;
      }
    }
    .main_body {
      width: 75%;
      display: flex;
      justify-content: left;
      align-items: flex-start;
    }
  }
  @media all and (max-width: 790px) {
    width: 100%;
    margin: 2rem auto;
    .main_content {
      .menulist {
        display: none;
      }
      .main_body {
        width: 95%;
        margin: auto;
      }
    }
  }
}

.main_container_review {
  width: 100%;
  min-height: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  .banner_section {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    .title_section {
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -150%);
      color: #fff;
      h1 {
        width: 100%;
        text-align: center;
        font-size: 48px;
        font-weight: bolder;
      }
      h5 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
  .main_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    // position: relative;
    .review_content {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      background: #fff;
      // position: absolute;
      margin: -4% auto 7% auto;
      padding: 2% 0;
    }
  }
}
