<main class="main_container" *ngIf="isBrowser">
  <div class="banner">
    <img class="banner_img" [src]="'https://admin.foodnet.ro/' + restaurant.restaurant_coverImage" alt="">
    <img class="profile_img"
      [src]="restaurant.restaurant_profileImage? 'https://admin.foodnet.ro/' + restaurant.restaurant_profileImage : './assets/icons/shop_bag_white.svg'"
      alt="">
    <span class="status_badge_open" i18n="@@restaurant-profile-badge-open"
      *ngIf="isOverdue(restaurant.restaurant_open, restaurant.restaurant_close)">open</span>
    <span class="status_badge_close" i18n="@@restaurant-profile-badge-close"
      *ngIf="!isOverdue(restaurant.restaurant_open, restaurant.restaurant_close)">close</span>
    <div class="justify-content-between align-items-center mobile_title">
      <span class="text-white"><i class="fas fa-arrow-left"></i></span>
      <span class="text-white">{{restaurant.restaurant_name}}</span>
      <span class="text-white"><img src="./assets/icons/shop_bag_white.svg" alt=""></span>
    </div>
  </div>
  <div class="top_info">
    <h1>{{restaurant.restaurant_name}}</h1>
  </div>
  <div class="main_info" *ngIf="!isSpinner">
    <h5 class="text-bold">Order finalization</h5>
    <h6 class="text-bold">Foods</h6>
    <app-restaurant-order-list (orderProductListEmitter)="orderProductListEmitter($event)"></app-restaurant-order-list>
    <div class="takeover_section" *ngIf="isAuth; else nonAuth">
      <h5 class="text-bold">Takeover</h5>
      <div *ngIf="isEmptyDeliveryList; else noEmpty">
        <app-restaurant-order-no-delivery-list (noDeliveryAddressEmitter)="noDeliveryAddressEmitter($event)">
        </app-restaurant-order-no-delivery-list>
      </div>
      <ng-template #noEmpty>
        <app-restaurant-order-delivery-login [deliveryAddressList]="deliveryAddressList"
          (loginDeliveryAddressIdEmitter)="loginDeliveryAddressIdEmitter($event)">
        </app-restaurant-order-delivery-login>
      </ng-template>
    </div>
    <ng-template class="takeover_section" #nonAuth>
      <h5 class="text-bold">Takeover</h5>
      <app-restaurant-order-delivery-logout (logoutDeliveryAddressEmitter)="logoutDeliveryAddressEmitter($event)">
      </app-restaurant-order-delivery-logout>
    </ng-template>
    <app-restaurant-order-payment (paymentEventEmitter)="paymentEventEmitter($event)"></app-restaurant-order-payment>
    <div class="btn_section d-flex justify-content-end align-items-center mt-5">
      <button class="btn btn-white mr-2" (click)="goBack()">Back</button>
      <button class="btn btn-warning"
        [disabled]="(isAuth && deliveryAddressList.length > 0 ? loginDeliveryAddressId == -1 : deliveryAddress == null) || isOrder"
        (click)="orderSuccess()">Order</button>
    </div>
  </div>
</main>
