.content {
  width: 80%;
  .btn_section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    button {
      padding: 0.7rem 1.5rem;
      font-size: 16px;
      background-color: #f05050;
      color: #fff;
    }
  }
  h5 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 16px;
    color: #111;
  }
  textarea {
    border-radius: 8px;
    resize: none;
    width: 100%;
    padding: 5px 8px;
  }
  @media all and (max-width: 590px) {
    width: 100%;
    & > h2 {
      font-size: 22px;
    }
  }
}

:host {
  ::ng-deep {
    .p-dialog {
      border-radius: 10px;
      width: 420px !important;
      height: 340px !important;
      background-color: white;
      z-index: 110001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .p-dialog-header {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        @media all and (max-width: 360px) {
          padding: 1rem 1rem 0.5rem 1rem !important;
        }
        .p-dialog-title {
          width: 90%;
          margin: 1rem auto 0 auto;
          h2 {
            font-size: 24px !important;
            color: #111;
            font-weight: bolder;
          }
          @media all and (max-width: 590px) {
            h2 {
              font-size: 22px !important;
            }
          }
        }
        .p-dialog-header-icons {
          display: none;
        }
      }
      .p-dialog-content {
        width: 100%;
        padding: 0.5rem 0.5rem;
        p {
          font-size: 16px;
          color: #666;
          @media all and (max-width: 590px) {
            font-size: 12px !important;
          }
        }
      }
      .p-dialog-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
        button {
          width: 71px;
          height: 48px;
          margin: 0 0.5rem;
          font-size: 16px;
          box-shadow: none;
        }
      }
      @media all and (max-width: 590px) {
        width: 280px !important;
        height: 280px !important;
      }
    }
  }
}

.pull-right {
  float: right !important;
}

.text-bold {
  font-weight: bold;
}

.bd-red {
  border-color: #f00 !important;
}

.bg-grey {
  background-color: #e8e8e8;
}
