<main class="main_container" *ngIf="isBrowser">
  <section class="main_menu">
    <div class="banner">
      <img class="banner_img" [src]="'https://admin.foodnet.ro/' + restaurant.restaurant_coverImage" alt=""
        (load)="hideLoader()" (error)="hideLoader()">
      <img class="profile_img"
        [src]="restaurant.restaurant_profileImage? 'https://admin.foodnet.ro/' + restaurant.restaurant_profileImage : './assets/icons/shop_bag_white.svg'"
        alt="">
      <span class="status_badge_open" i18n="@@restaurant-profile-badge-open"
        *ngIf="isOverdue(restaurant.restaurant_open, restaurant.restaurant_close)">open</span>
      <span *ngIf="!isOverdue(restaurant.restaurant_open, restaurant.restaurant_close)" class="status_badge_close"
        i18n="@@restaurant-profile-badge-close">close
      </span>
      <div class="justify-content-between align-items-center mobile_title">
        <span class="text-white"><i class="fas fa-arrow-left"></i></span>
        <span class="text-white">{{restaurant.restaurant_name}}</span>
        <span class="text-white"><img src="./assets/icons/shop_bag_white.svg" alt=""></span>
      </div>
    </div>
    <div class="top_info">
      <h1>{{restaurant.restaurant_name}}</h1>
      <div class="filter_items">
        <label class="rate-label" *ngIf="restaurant.restaurant_rating">
          <i class="far fa-star text-warning"></i>
          <span class="text-warning text-bold">{{restaurant.restaurant_rating}}/5</span>
        </label>
        <label class="rate-label" *ngFor="let option of filterOption">
          <span class="text-warning text-bold">{{option}}</span>
        </label>
      </div>
    </div>
    <div class="main_info">
      <p-tabView *ngIf="isBrowser">
        <p-tabPanel [header]="header_menu">
          <app-restaurant-menu *ngIf="restaurant" [restaurant]="restaurant"
            (addCartEventEmitter)="addProductToCartEventEmitter($event)"></app-restaurant-menu>
        </p-tabPanel>
        <p-tabPanel [header]="header_info">
          <app-restaurant-info *ngIf="restaurant" [restaurantId]="restaurant.restaurant_id"></app-restaurant-info>
        </p-tabPanel>
        <p-tabPanel [header]="header_review">
          <app-restaurant-evaluation></app-restaurant-evaluation>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>
  <section class="side_menu" *ngIf="cartProductList$ | async as cartList">
    <h2 class="text-bold">Cart</h2>
    <div class="cart_item" *ngFor="let product of cartList">
      <h5 class="item_header">
        <span class="item_title text-bold">{{product.product.count}} * {{product.product.product_name}}</span>
        <span><i class="fas fa-trash-alt" style="color: #999; cursor: pointer;"
            (click)="deleteProductFromCart(product, 'current')"></i></span>
      </h5>
      <label for="" class="ingredient_label">{{product.product.product_description}}</label>
      <p class="ingredient_items" *ngIf="product.product.allergens_name && product.product.allergens_name.length > 0">
        <span>(Allergens: </span>
        <span *ngFor="let allergen of product.product.allergens_name; let last=last">
          <span *ngIf="last">{{ allergen.allergen_name }}</span>
          <span *ngIf="!last">{{ allergen.allergen_name }}, </span>
        </span>
        <span>)</span>
      </p>
      <div class="extra_section">
        <span *ngIf="product.requiredExtra.length > 0 || product.optionalExtra.length > 0">+&nbsp;</span>
        <span *ngFor="let extra of product.requiredExtra; let first=first">
          <span *ngIf="first"></span>
          <span *ngIf="!first">, </span>
          {{extra.count}}*{{extra.extra_name}}
        </span>
        <span *ngFor="let extra of product.optionalExtra; let first=first">
          <span *ngIf="first && product.requiredExtra.length == 0"></span>
          <span *ngIf="!first || product.requiredExtra.length > 0">, </span>
          {{extra.count}}*{{extra.extra_name}}</span>
      </div>
      <div class="item_footer">
        <div class="price_section">
          <span class="price_item text-warning text-bold">
            {{product.totalPrice | number:'1.2-2':'en'}}&nbsp;{{'lei' | currencyUnit}}
          </span>
          <span class="price_item text-grey text-bold" *ngIf="product.product.box_price">
            {{product.product.box_name}}: {{product.product.count * product.product.box_price}}&nbsp;{{'lei' |
            currencyUnit}}
          </span>
        </div>
        <div class="counter">
          <app-counter (counterEmitter)="counterChange($event, product)"
            [counterOption]="{checkRequire: false, count: product.product.count}">
          </app-counter>
        </div>
      </div>
      <div class="d-flex flex-column align-items-start justify-content-start mt-2" *ngIf="product.comment">
        <label class="mb-0">Comment:</label>
        <p class="text-grey pt-1 pb-1 mb-0">{{product.comment}}</p>
      </div>
      <hr />
    </div>
    <div class="total_price text-warning text-bold" *ngIf="totalPrice > 0">
      Total: {{totalPrice$ | async | number:'1.2-2':'en'}}&nbsp;{{'lei' | currencyUnit}}
    </div>
    <div class="btn_section">
      <button class="btn btn-warning order_btn" (click)="orderProduct()" *ngIf="totalPrice | minOrder"
        [disabled]="true">More {{minOrderPrice - totalPrice | number:'1.2-2': 'en'}}&nbsp;{{'lei' |
        currencyUnit}}</button>
      <button class="btn btn-warning order_btn" (click)="orderProduct()" *ngIf="!(totalPrice | minOrder)">Order</button>
      <button class="btn btn-white delete_btn" (click)="showDeleteAllDialog()">Delete cart
        contents</button>
    </div>
  </section>
  <section class="side_menu" *ngIf="!cartProductList">
    <h2 class="text-bold">Cart</h2>
    <div class="empty_content d-flex justify-content-start align-items-center flex-column">
      <h5 class="text-bold text-warning text-center">Your cart is currently empty</h5>
      <p class="text-center text-grey mt-2">
        But tomorrow, versatile, and mass. I hate football and a valuable asset to free macro as an integer.
      </p>
      <button class="btn btn-warning m-auto mt-2">
        Minimum {{minOrderPrice | number:'1.2-2':'en' }}&nbsp;{{'lei' | currencyUnit}}
      </button>
    </div>
  </section>
</main>

<p-dialog header="" [(visible)]="isDeleteAllDialog" [baseZIndex]="10000" styleClass="restaurant_profile_dialog"
  *ngIf="isBrowser" [modal]="true" class="restaurant_profile_dialog">
  <p-header>
    <h2 i18n="@@restaurant-profile-delete-dialog-a">Are you sure you want to delete all cart contents?</h2>
  </p-header>
  <p class="text-bold text-center" i18n="@@restaurant-profile-delete-dialog-b">This will cause all your previous data to
    be lost
    and cannot be restored.</p>
  <p-footer>
    <button type="button" class="btn bg-grey" (click)="closeMsg(false)"
      i18n="@@restaurant-profile-delete-dialog-c">No</button>
    <button type="button" class="btn bg-grey" (click)="closeMsg(true)"
      i18n="@@restaurant-profile-delete-dialog-d">Yes</button>
  </p-footer>
</p-dialog>

<div class="spinner_overlay" *ngIf="isSpinner">
  <div class="spinner_container">
    <img src="./assets/images/loading_spinner1.svg" alt="">
  </div>
</div>
